/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

docker {
  enabled = true
}
process {
  container = 'scilifelab/ngi-smrnaseq'
  executor = 'local'
  cpus = $executor.cpus
  memory = $executor.memory
  time = 48.h

  maxForks = 2 
}

params {
  genomes {
    'GRCh37' {
      mature  = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/SmallRNA/mature.fa'
      hairpin = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/SmallRNA/hairpin.fa'
      bowtie  = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/BowtieIndex/genome'
      bowtie2 = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/Bowtie2Index/genome'
      fasta   = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta'
      gtf     = '/sw/data/uppnex/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf'
    }
  }
}
